h1, h2{
 font-family: Trebuchet MS;
 font-size: 25px;
 font-style: italic; 
}
h3{
font-family: Monotype Corsiva;
 font-size: 18px;
 font-style: italic;
}
span{
font-family: Gabriola;
 font-size: 27px;
 font-style: bold;
}